numpy >= 1.16
pandas >= 0.25.3
tqdm >= 4.41
pillow >= 5.3.0
albumentations >= 0.4.3
tensorboard >= 1.14.0
matplotlib >= 2.2.5
scikit-learn~=1.0.1
setuptools~=60.5.0
torchvision~=0.11.1
scikit-image ~= 0.16.2
pytest ~= 3.5.1
rasterio ~= 1.1.1
deepml~=2.0.0
mlflow~=1.2.0